.coverage
.deploy
.env
.idea/
.images.json
.mypy_cache
.pytest_cache/
.vscode/
/compose/bitcart/
__pycache__/
compose/generated.yml
coverage.xml
htmlcov/
venv/
compose/plugins/*
!compose/plugins/.gitkeep
