# ignore tests and downloaded dirs
/compose/bitcart/
# conf
.env
.deploy
.vscode/
# pycharm
.idea/
# virtualenv
venv/
# cache
__pycache__/
# generated configs
compose/generated.yml
.mypy_cache
.coverage
htmlcov/
.pytest_cache/
coverage.xml
