repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.0
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: check-case-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: debug-statements
      - id: fix-byte-order-marker
      - id: detect-private-key
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        types: [text]
        language: node
        require_serial: true
        entry: npx prettier --write --ignore-unknown
      - id: docker-shell-shfmt
        name: Run shfmt with docker
        entry: mvdan/shfmt:latest -d -i 4
        language: docker_image
        types: [shell]
        exclude: compose/scripts/cli-zsh-autocomplete.sh
  - repo: local
    hooks:
      - id: generate-images
        name: Generate docker images
        entry: compose/scripts/generate-templates.sh
        language: system
        files: >-
          ^compose/Dockerfile-coin.template$
