version: 2
jobs:
  test:
    docker:
      - image: cimg/python:3.7

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            cd generator
            pip install -r requirements.txt
            pip install -r test-requirements.txt

      - run:
          name: run tests
          command: |
            make ci
            codecov

  cansetup:
    machine:
      image: ubuntu-2004:202107-02
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Test installation
          command: |
            cd .circleci
            sudo ./test-install.sh
  deploy:
    docker:
      - image: cimg/python:3.7

    environment:
      BUILD_PLATFORMS: linux/amd64,linux/arm/v7,linux/arm64/v8

    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build docker image
          command: |
            cd generator
            docker login --username=$DOCKER_USER --password=$DOCKER_PASS
            docker run --privileged --rm tonistiigi/binfmt --install ${BUILD_PLATFORMS}
            docker buildx build --push --platform ${BUILD_PLATFORMS} --tag mrnaif/docker-compose-generator:test .

workflows:
  version: 2
  build:
    jobs:
      - deploy:
          context: global
