version: 2
jobs:
  test:
    docker:
      - image: circleci/python:3.7

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            cd generator
            pip install -r requirements.txt
            pip install -r test-requirements.txt

      - run:
          name: run tests
          command: |
            make ci

  cansetup:
    machine:
      enabled: true
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Test installation
          command: |
            cd .circleci
            sudo ./test-install.sh
  deploy:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: build docker image
          command: |
            cd generator
            docker build -t bitcartcc/docker-compose-generator:latest .
            docker login --username=$DOCKER_USER --password=$DOCKER_PASS
            docker push bitcartcc/docker-compose-generator:latest

workflows:
  version: 2
  build:
    jobs:
      - test
      - cansetup:
          requires:
            - test
      - deploy:
          context: global
          requires:
            - cansetup
          filters:
            branches:
              only: master
