{{ $CurrentContainer := where $ "ID" .Docker.CurrentContainerID | first }}

{{ define "access_log" }}
    {{ if eq $.Env.ACCESS_LOG "true" }}
    access_log /var/log/nginx/access.log vhost;
    {{ else }}
    access_log off;
    {{ end }}
{{ end }}

{{ define "redirects" }}
    {{ range $container := $.Containers }}
        {{ if $container.Env.REAL_IP_HEADER }}
            {{ range $containerNetwork := $container.Networks }}
    set_real_ip_from {{ $containerNetwork.IP }};
            {{ end }}
            {{ if (ne $container.Env.REAL_IP_HEADER "X-Real-IP") }}
    real_ip_header {{ $container.Env.REAL_IP_HEADER }};
            {{ end }}
        {{ end }}
    {{ end }}
    {{ $backendUsed := "false" }}
    {{ $adminUsed := "false" }}
    {{ if eq $.HostName "bitcart-store" }}
        {{ range $container := $.Containers }}
            {{ if (eq (or ($container.Env.ONE_DOMAIN_MODE) "") "true") }}
                {{ $serviceName := (index $container.Labels "com.docker.compose.service") }}
                {{ if (and (eq $backendUsed "false") (eq $serviceName "backend")) }}
                    {{ $backendUsed = "true" }}
    location /api/ {
        proxy_pass http://{{ trim $container.Env.VIRTUAL_HOST_NAME }}/;
    }
                {{ end }}
                {{ if (and (eq $adminUsed "false") (eq $serviceName "admin")) }}
                    {{ $adminUsed = "true" }}
    location /admin {
        proxy_pass http://{{ trim $container.Env.VIRTUAL_HOST_NAME }};
    }
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if eq $.HostName "bitcart-admin" }}
        {{ range $container := $.Containers }}
            {{ if (eq (or ($container.Env.ONE_DOMAIN_MODE) "") "true") }}
                {{ $serviceName := (index $container.Labels "com.docker.compose.service") }}
                {{ if (and (eq $backendUsed "false") (eq $serviceName "backend")) }}
                    {{ $backendUsed = "true" }}
    location /api/ {
        proxy_pass http://{{ trim $container.Env.VIRTUAL_HOST_NAME }}/;
    }
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "ssl_policy" }}
    {{ if eq .ssl_policy "Mozilla-Modern" }}
    ssl_protocols TLSv1.3;
    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_prefer_server_ciphers off;
    {{ else if eq .ssl_policy "Mozilla-Intermediate" }}
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;
    ssl_prefer_server_ciphers off;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    {{ else if eq .ssl_policy "Mozilla-Old" }}
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_ciphers @SECLEVEL=0:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA256:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA;
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    {{ end }}
{{ end }}

{{ define "real_ip_policy" }}
{{ if eq .Env.PROXY_PROTOCOL "true" }}
    listen {{ if .ssl }}10083{{ else }}10082{{ end }}{{- .ssl }} proxy_protocol{{- .default_server }};
{{ if .enable_ipv6 }}
    listen [::]:{{ if .ssl }}10083{{ else }}10082{{ end }}{{- .ssl }} proxy_protocol{{- .default_server }};
{{ end }}
    set_real_ip_from 172.16.0.0/12;
{{ end }}

{{ if and .Env.TRUSTED_IPS (eq .Env.PROXY_PROTOCOL "true") }}
    real_ip_header X-Forwarded-For-Proxy-Protocol;
{{ else if (eq .Env.PROXY_PROTOCOL "true") }}
    real_ip_header proxy_protocol;
{{ else if $.Env.TRUSTED_IPS }}
    real_ip_header X-Forwarded-For;
{{ range $ip := splitList "," .Env.TRUSTED_IPS }}
    set_real_ip_from {{ trim $ip }};
{{ end }}
{{ end }}

    real_ip_recursive on;
{{ end }}

geo {{ if (eq $.Env.PROXY_PROTOCOL "true") }}$proxy_protocol_addr{{ else }}$realip_remote_addr{{ end }} $connecting_addr_trusted {
    default 0;
    {{ if $.Env.TRUSTED_IPS }}
    {{ range $ip := splitList "," $.Env.TRUSTED_IPS }}
    {{ trim $ip }} 1;
    {{ end }}
    {{ end }}
}

{{ if and $.Env.TRUSTED_IPS (eq $.Env.PROXY_PROTOCOL "true") }}
map $connecting_addr_trusted $forwarded_for_proxy_protocol {
    default $proxy_protocol_addr;
    1 $http_x_forwarded_for;
}

# The realip module does not support variables for the real_ip_header directive
# so we need to define a custom header.
more_set_input_headers "X-Forwarded-For-Proxy-Protocol: $forwarded_for_proxy_protocol";
{{ end }}

# If we receive X-Forwarded-Proto, pass it through; otherwise, pass along the
# scheme used to connect to this server
map $http_x_forwarded_proto $forwarded_proto_or_scheme {
    default $http_x_forwarded_proto;
    '' $scheme;
}

map $connecting_addr_trusted $proxy_x_forwarded_proto {
    default $scheme;
    {{ if (has "X-Forwarded-Proto" (splitList "," $.Env.TRUSTED_HEADERS)) }}1 $forwarded_proto_or_scheme;{{ end }}
}

map $http_x_forwarded_host $forwarded_host_or_host {
    default $http_x_forwarded_host;
    '' $host;
}

map $connecting_addr_trusted $proxy_x_forwarded_host {
    default $host;
    {{ if (has "X-Forwarded-Host" (splitList "," $.Env.TRUSTED_HEADERS)) }}1 $forwarded_host_or_host;{{ end }}
}

# If we receive X-Forwarded-Port, pass it through; otherwise, pass along the
# server port the client connected to
{{ $fallback_port := "server_port" }}
{{ if (eq $.Env.PROXY_PROTOCOL "true") }}{{ $fallback_port = "proxy_protocol_server_port" }}{{ end }}
map $http_x_forwarded_port $forwarded_port_or_server_port {
    default $http_x_forwarded_port;
    '' ${{ $fallback_port }};
}

map $connecting_addr_trusted $proxy_x_forwarded_port {
    default ${{ $fallback_port }};
    {{ if (has "X-Forwarded-Port" (splitList "," $.Env.TRUSTED_HEADERS)) }}1 $forwarded_port_or_server_port;{{ end }}
}

# Include the port in the Host header sent to the container if it is non-standard
map $server_port $host_port {
    default :$server_port;
    80 '';
    443 '';
}

# If the request from the downstream client has an "Upgrade:" header (set to any
# non-empty value), pass "Connection: upgrade" to the upstream (backend) server.
# Otherwise, the value for the "Connection" header depends on whether the user
# has enabled keepalive to the upstream server.
map $http_upgrade $proxy_connection {
    default upgrade;
    '' $proxy_connection_noupgrade;
}

map $upstream_keepalive $proxy_connection_noupgrade {
    # Preserve nginx's default behavior (send "Connection: close").
    default close;
    # Use an empty string to cancel nginx's default behavior.
    true '';
}

map "" $upstream_keepalive {
    default true;
}

# Apply fix for very long server names
server_names_hash_bucket_size 128;

# Prevent Nginx Information Disclosure
server_tokens off;

# Default dhparam
{{ if (exists "/etc/nginx/dhparam/dhparam.pem") }}
ssl_dhparam /etc/nginx/dhparam/dhparam.pem;
{{ end }}

# Set appropriate X-Forwarded-Ssl header based on $proxy_x_forwarded_proto
map $proxy_x_forwarded_proto $proxy_x_forwarded_ssl {
    default off;
    https on;
}

gzip on;
gzip_min_length 1000;
gzip_vary on;
gzip_proxied any;
gzip_types text/plain text/css application/javascript application/json text/xml application/xml application/xml+rss image/svg+xml;

{{- $logEscape := $.Env.LOG_FORMAT_ESCAPE | default "default" | printf "escape=%s" }}
{{- $logFormat := $.Env.LOG_FORMAT | default `$host $remote_addr - $remote_user [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" "$upstream_addr"` }}

{{- if $.Env.LOG_JSON }}
    {{- $logEscape = $.Env.LOG_FORMAT_ESCAPE | default "json" | printf "escape=%s" }}
    {{- $logFormat = $.Env.LOG_FORMAT | default `{"time_local":"$time_iso8601","client_ip":"$http_x_forwarded_for","remote_addr":"$remote_addr","request":"$request","status":"$status","body_bytes_sent":"$body_bytes_sent","request_time":"$request_time","upstream_response_time":"$upstream_response_time","upstream_addr":"$upstream_addr","http_referrer":"$http_referer","http_user_agent":"$http_user_agent","request_id":"$request_id"}` }}
{{- end }}

log_format vhost {{ $logEscape }} '{{ $logFormat }}';

access_log off;

error_log /dev/stderr;

{{ if $.Env.RESOLVERS }}
resolver {{ $.Env.RESOLVERS }};
{{ end }}

{{ if (exists "/etc/nginx/proxy.conf") }}
include /etc/nginx/proxy.conf;
{{ else }}
# HTTP 1.1 support
proxy_http_version 1.1;
proxy_buffering off;
proxy_set_header Host $host$host_port;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $proxy_connection;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Host $proxy_x_forwarded_host;
proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;
proxy_set_header X-Forwarded-Ssl $proxy_x_forwarded_ssl;
proxy_set_header X-Forwarded-Port $proxy_x_forwarded_port;
proxy_set_header X-Original-URI $request_uri;

# Mitigate httpoxy attack (see README for details)
proxy_set_header Proxy "";
{{ end }}

{{ $enable_ipv6 := eq (or ($.Env.ENABLE_IPV6) "") "true" }}
{{ $allVirtualHosts := groupByMulti $ "Env.VIRTUAL_HOST" "," }}
{{ $firstUpstreamName := "" }}
{{ $firstHostName := "" }}
{{ range $vh, $cs := $allVirtualHosts }}
    {{ if eq $firstUpstreamName "" }}
        {{ $firstUpstreamName = trim (or (first (groupByKeys $cs "Env.VIRTUAL_HOST_NAME")) "") }}
        {{ $firstHostName = $firstUpstreamName }}
    {{ end }}
{{ end }}

server {
    client_max_body_size 100M;
    server_name _;
    listen 80;
    {{ if $enable_ipv6 }}
    listen [::]:80;
    {{ end }}
    listen 443 ssl;
    {{ if $enable_ipv6 }}
    listen [::]:443 ssl;
    {{ end }}
    ssl_reject_handshake on;
    {{ template "access_log" }}
    {{ if eq (len $allVirtualHosts) 1 }}
    location / {
        proxy_pass http://{{ trim $firstUpstreamName }};
    }
    {{ template "redirects" (dict "HostName" $firstHostName "Containers" $) }}
    {{ else }}
    location ^~ / {
        return 503;
    }
    {{ end }}
}



{{ range $host_name, $containers := groupByMulti $ "Env.VIRTUAL_HOST_NAME" "," }}

{{ $host_name := trim $host_name }}
{{ $upstream_name := $host_name }}

upstream {{ $upstream_name }} {

{{ $servers := 0 }}

{{ range $container := $containers }}
    {{ $addrLen := len $container.Addresses }}

    {{ $ip := "" }}
    {{ range $containerNetwork := sortObjectsByKeysAsc $container.Networks "Name" }}
        {{ if eq $containerNetwork.Name "ingress" }}
    # {{ $container.Name }}: skipping ingress network
            {{ continue }}
        {{ end }}

        {{ if eq $containerNetwork.Name "host" }}
            {{ if (where $CurrentContainer.Networks "Name" "host" | first) }}
    # {{ $container.Name }}: both proxy and container in host mode, using 127.0.0.1
                {{ $ip = "127.0.0.1" }}
                {{ continue }}
            {{ end }}
            {{ range $proxyNetwork := sortObjectsByKeysAsc $CurrentContainer.Networks "Name" }}
                {{ if and $proxyNetwork $proxyNetwork.Gateway (not $proxyNetwork.Internal) }}
    # {{ $container.Name }}: container in host mode, using gateway {{ $proxyNetwork.Gateway }}
                    {{ $ip = $proxyNetwork.Gateway }}
                    {{ break }}
                {{ end }}
            {{ end }}
            {{ if $ip }}
                {{ continue }}
            {{ end }}
        {{ end }}

        {{ $proxyInHost := where $CurrentContainer.Networks "Name" "host" | first }}
        {{ $sharedNetwork := where $CurrentContainer.Networks "Name" $containerNetwork.Name | first }}
        {{ if and (not $sharedNetwork) (not $proxyInHost) }}
    # {{ $container.Name }}: {{ $containerNetwork.Name }} (unreachable)
            {{ continue }}
        {{ end }}

        {{ if $ip }}
    # {{ $container.Name }}: {{ $containerNetwork.Name }} (reachable but redundant, skipped)
            {{ continue }}
        {{ end }}

        {{ if and $containerNetwork $containerNetwork.IP }}
    # {{ $container.Name }}: using {{ $containerNetwork.Name }} network
            {{ $ip = $containerNetwork.IP }}
        {{ else }}
    # {{ $container.Name }}: {{ $containerNetwork.Name }} has no IP!
        {{ end }}
    {{ end }}

    {{ if $ip }}
        {{ if eq $addrLen 1 }}
            {{ $address := index $container.Addresses 0 }}
            {{ $servers = add1 $servers }}
    server {{ $ip }}:{{ $address.Port }};
        {{ else }}
            {{ $port := coalesce $container.Env.VIRTUAL_PORT "80" }}
            {{ $address := where $container.Addresses "Port" $port | first }}
            {{ $servers = add1 $servers }}
            {{ if $address }}
    server {{ $ip }}:{{ $address.Port }};
            {{ else }}
    server {{ $ip }}:{{ $port }};
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if lt $servers 1 }}
    # No reachable servers — fallback entry
    server 127.0.0.1 down;
{{ end }}

{{ if (gt $servers 0) }}
    keepalive {{ mul $servers 2 }};
{{ end }}
}

{{ $hiddenReverseProxy := trim (or (first (groupByKeys $containers "Env.HIDDENSERVICE_REVERSEPROXY")) "") }}
{{ if ne $hiddenReverseProxy "" }}
    {{ $hiddenHostName := trim (or (first (groupByKeys $containers "Env.HIDDENSERVICE_NAME")) "") }}
    {{ $onionHost := read (printf "/var/lib/tor/hidden_services/%s/hostname" $hiddenHostName) }}
    {{ if ne $onionHost "" }}
server {
    client_max_body_size 100M;
    server_name {{ trim $onionHost }};
    listen 80;
    {{ template "access_log" }}
    {{ if (exists "/etc/nginx/vhost.d/default") }}
    include /etc/nginx/vhost.d/default;
    {{ end }}
    location / {
        proxy_pass http://{{ trim $upstream_name }};
    }
    {{ template "redirects" (dict "HostName" $host_name "Containers" $) }}
}
    {{ end }}
{{ end }}

{{ range $host, $containers := groupByMulti $containers "Env.VIRTUAL_HOST" "," }}
{{ $host := trim $host }}
{{ if ne $host "" }}
{{ $default_host := or ($.Env.DEFAULT_HOST) "" }}
{{ $default_server := index (dict $host "" $default_host " default_server") $host }}

{{/* Get the VIRTUAL_PROTO defined by containers w/ the same vhost, falling back to "http" */}}
{{ $proto := trim (or (first (groupByKeys $containers "Env.VIRTUAL_PROTO")) "http") }}

{{/* Get the NETWORK_ACCESS defined by containers w/ the same vhost, falling back to "external" */}}
{{ $network_tag := or (first (groupByKeys $containers "Env.NETWORK_ACCESS")) "external" }}

{{/* Get the SSL_POLICY defined by containers w/ the same vhost, falling back to "Mozilla-Intermediate" */}}
{{ $ssl_policy := or (first (groupByKeys $containers "Env.SSL_POLICY")) "Mozilla-Intermediate" }}

{{/* Get the HSTS defined by containers w/ the same vhost, falling back to "max-age=31536000" */}}
{{ $hsts := or (first (groupByKeys $containers "Env.HSTS")) "max-age=31536000" }}

{{/* Get the VIRTUAL_ROOT By containers w/ use fastcgi root */}}
{{ $vhost_root := or (first (groupByKeys $containers "Env.VIRTUAL_ROOT")) "/var/www/public" }}


{{/* Get the first cert name defined by containers w/ the same vhost */}}
{{ $certName := (first (groupByKeys $containers "Env.CERT_NAME")) }}

{{/* Get the best matching cert  by name for the vhost. */}}
{{ $vhostCert := (closest (dir "/etc/nginx/certs") (printf "%s.crt" $host))}}

{{/* vhostCert is actually a filename so remove any suffixes since they are added later */}}
{{ $vhostCert := trimSuffix ".crt" $vhostCert }}
{{ $vhostCert := trimSuffix ".key" $vhostCert }}

{{/* Use the cert specified on the container or fallback to the best vhost match */}}
{{ $cert := (coalesce $certName $vhostCert) }}

{{ $cert_ok := (and (ne $cert "") (exists (printf "/etc/nginx/certs/%s.crt" $cert)) (exists (printf "/etc/nginx/certs/%s.key" $cert))) }}

{{ $is_https := (eq $.Env.HTTPS_ENABLED "true") }}

{{ if $is_https }}
server {
    server_name {{ $host }};
    listen 80 {{- $default_server }};
    {{ if $enable_ipv6 }}
    listen [::]:80 {{- $default_server }};
    {{ end }}
    {{ if eq $.Env.PROXY_PROTOCOL "true" }}
    listen 10082 proxy_protocol {{- $default_server }};
    {{ if $enable_ipv6 }}
    listen [::]:10082 proxy_protocol {{- $default_server }};
    {{ end }}
    {{ end }}
    {{ template "access_log" }}

    location ^~ /.well-known/acme-challenge/ {
        auth_basic off;
        auth_request off;
        allow all;
        root /usr/share/nginx/html;
        try_files $uri =404;
        break;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}
{{ end }}

server {
    client_max_body_size 100M;
    server_name {{ $host }};
    {{ if $is_https }}
    listen 443 ssl {{- $default_server }};
    {{ if $enable_ipv6 }}
    listen [::]:443 ssl {{- $default_server }};
    {{ end }}
    {{ template "real_ip_policy" (dict "Env" $.Env "default_server" $default_server "ssl" " ssl" "enable_ipv6" $enable_ipv6) }}
    http2 on;
    {{ else }}
    listen 80 {{- $default_server }};
    {{ if $enable_ipv6 }}
    listen [::]:80 {{- $default_server }};
    {{ end }}
    {{ template "real_ip_policy" (dict "Env" $.Env "default_server" $default_server "ssl" "" "enable_ipv6" $enable_ipv6) }}
    {{ end }}
    {{ template "access_log" }}

    {{ if eq $network_tag "internal" }}
    # Only allow traffic from internal clients
    include /etc/nginx/network_internal.conf;
    {{ end }}

    {{ if $is_https }}
    {{ if not $cert_ok }}
    ssl_reject_handshake on;
    {{ else }}

    {{ template "ssl_policy" (dict "ssl_policy" $ssl_policy) }}

    ssl_certificate /etc/nginx/certs/{{ (printf "%s.crt" $cert) }};
    ssl_certificate_key /etc/nginx/certs/{{ (printf "%s.key" $cert) }};

    {{ if (exists (printf "/etc/nginx/certs/%s.dhparam.pem" $cert)) }}
    ssl_dhparam {{ printf "/etc/nginx/certs/%s.dhparam.pem" $cert }};
    {{ end }}

    {{ if (ne $hsts "off") }}
    add_header Strict-Transport-Security "{{ trim $hsts }}" always;
    {{ end }}

    {{ end }}
    {{ end }}

    {{ if (exists (printf "/etc/nginx/vhost.d/%s" $host)) }}
    include {{ printf "/etc/nginx/vhost.d/%s" $host }};
    {{ else if (exists "/etc/nginx/vhost.d/default") }}
    include /etc/nginx/vhost.d/default;
    {{ end }}

    location / {
        {{ if eq $proto "uwsgi" }}
        include uwsgi_params;
        uwsgi_pass {{ trim $proto }}://{{ trim $upstream_name }};
        {{ else if eq $proto "fastcgi" }}
        root   {{ trim $vhost_root }};
        include fastcgi.conf;
        fastcgi_pass {{ trim $upstream_name }};
        {{ else }}
        proxy_pass {{ trim $proto }}://{{ trim $upstream_name }};
        {{ end }}
        {{ if (exists (printf "/etc/nginx/htpasswd/%s" $host)) }}
        auth_basic	"Restricted {{ $host }}";
        auth_basic_user_file	{{ (printf "/etc/nginx/htpasswd/%s" $host) }};
        {{ end }}
        {{ if (exists (printf "/etc/nginx/vhost.d/%s_location" $host)) }}
        include {{ printf "/etc/nginx/vhost.d/%s_location" $host}};
        {{ else if (exists "/etc/nginx/vhost.d/default_location") }}
        include /etc/nginx/vhost.d/default_location;
        {{ end }}
    }
    {{ template "redirects" (dict "HostName" $host_name "Containers" $) }}
}

{{ end }}
{{ end }}
{{ end }}
{{ if $.Env.ADDITIONAL_NGINX_CONFIG }}
{{ $.Env.ADDITIONAL_NGINX_CONFIG}}
{{ end }}
